* {
    margin: 0;
    padding: 0;
    /* 
     * Fix for the footer being wider than the page
     * Border-box calculates height and width of the element by including the border and padding
     * Other option is content-size (default), which adds and the border and padding to the width and height of the element which has already been calculated
    */
    box-sizing: border-box;
}
/* General Section Themeing Start */
.section-title {
    font-size: 48px;
    color: #024e76;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}
.primary-border {
    border-color: #fce138;
}
.secondary-border {
    border-color: #39a6b2;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.flex-row {
    display: flex;
}
/* General Section Themeing End */
/* Hero Style Start */
.hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
	align-items: flex-start;
}
/* Hero-Form Style Start */
.hero-form {
    background-color: rgba(252, 225, 56, 0.8);
    color: #024e76;
    padding: 20px;
    width: 500px;
    /* Alternatively could use border: solid 3px #024e76 */
    border-style: solid;
    border-color: #024e76;
    width: 40%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
.hero-form h3 {
    font-size: 24px;
    margin: 0;
}
.hero-form p {
    margin: 5px 0 15px 0;
}
.form-input {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}
.form-input:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}
.hero-form label {
    margin: 0 5px;
}
.hero-form button {
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 10px;
    display: block;
}
.hero-form button:hover {
    background-color: #39a6b2;
}
/* Hero-Form Style End */
/* Call To Action Start */
.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
}
.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: #fce138;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* Call To Action End */
/* Hero Style End */
/* What We Do Start */
.intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    /* Top and bottom margins are 0 and left and right are auto
     * The browser will try to make margins as even as possible, pushing elements into the center
     * Only works for horizontal, not vertical
    */
    margin: 0 auto;
    text-align: center;
}
/* What We Do End */
/* What You Do Start */
.steps {
    background: #fce138;
}
.step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid #39a6b2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.step-info {
    /* 
     * at least 70% wide but will recieve any extra space at a 2-to-1 ratio 
     * This means that it will receieve two more units of unused space than a sibiling w/flex-grow value of 1
     */
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.step h3 {
    color: #024e76;
    font-size: 46px;
    /* at least 30% wide and will recieve any extra space in the container */
    flex: 1 30%;
}
.step-img {
    flex: 1 12%;
    margin-right: 20px;
}
.step-img img {
    /* limits the width to whatever the container is. Only a problem in microsoft edge */
    max-width: 100%;
}
.step-text {
    /* this will be alloted 12x more unused space than step-img */
    flex: 12;
}
.step-text p {
    color: #39a6b2;
    font-size: 18px;
}
.step-text h4 {
	font-size: 26px;
	line-height: 1.5;
	color: #024e76;
}
/* What You Do End */
/* Trainers Start */
.trainer {
    margin: 20px;
    flex: 1;
    background: #024e76;
    color: #fce138;
}
.trainers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.trainer img {
    width: 100%;
}
.trainer-bio {
    padding: 25px;
    line-height: 1.3;
}
.trainer-bio h3 {
    font-size: 28px;
}
.trainer-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
}
.trainer-bio p {
    font-size: 17px
}
/* Trainers End */
/* Reach Out Start */
.contact {
    background: #024e76;
}
.contact h2 {
    color: #fce138;
}
.contact h3 {
    color: #fce138;
    font-size: 32px;
}
.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-info > * {
    flex: 1;
    margin: 15px;
}
.contact-info iframe {
    height: 400px;
}
.contact-info div {
    color: white;
}
.contact-info p,
.contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}
.contact-info a {
    color: #fce138;
}
.contact-form input,
.contact-form textarea {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}
.contact-form:focus,
.contact-form textarea:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}
.contact-form button {
    width: 100%;
    border: none;
    background: #fce138;
    color: #024e76;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}
.contact-form button:hover {
    color: #fce138;
    background: #39a6b2;
}
/* Reach Out End */
/* Privacy Policy Start */
.page-title {
    color: #fce138;
    display: inline-block;
    border-bottom: 4px solid #fce138;
    padding: 0 80px 15px 80px;
    font-weight: normal;
    font-size: 42px;
    font-style: italic;
}
body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}
/* Header Start */
header {
    /* 
    * Padding can also be used as padding-top, padding-right, etc.
    * This is 20px top and bottom, 35 left and right (goes in clockwise order)
    */
    padding: 20px 35px;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header a {
    text-decoration: none;
    color: #fce138;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    /* justify-content aligns the x-axis by default */
    justify-content: space-between;
    /* align-items aligns the y-axis by default */
    align-items: center;
    /* removes all stylings from the list items (no bullter points, indented, etc) */
    list-style: none;
}
header nav ul li a {
	padding: 10px 15px;
    font-weight: lighter;
    /* vw is viewpoint width
     * Says the font size should be 1.55% of the windows overall width 
     */
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
    background: #fce138;
    color: #024e76;
    border-radius: 15px;
    text-shadow: none;
}
/* Header End */
/* Footer Start */
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer h2 {
    color: #024e76;
    font-size: 30px;
    margin: 0;
}
footer div {
    line-height: 1.5;
    text-align: right;
}
footer a {
    color: #024e76;
}
/* Footer End */
section {
    padding: 60px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
	header {
		padding-bottom: 0;
		justify-content: center;
        position: relative;
	}
	header h1 {
		width: 100%;
		text-align: center;
	}
	header nav ul {
		margin-top: 20px;
		width: 100%;
		justify-content: center;
	}
	header nav ul li a {
		font-size: 20px;
	}
	footer h2,
	footer div {
		text-align: center;
		width: 100%;
	}
	.hero-cta,
	.hero-form {
		width: 100%;
	}
	.hero-cta {
		text-align: center;
	}
	.section-title {
		width: 80%;
	}
	.trainer {
		flex: 0 70%;
	}
	.contact-info iframe {
		flex: 1 100%;
	}
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
	section {
		padding: 30px 15px;
	}
	.step h3 {
		flex: 1 100%;
		text-align: center;
	}
	.step-info {
		flex: 2 100%;
		text-align: center;
		justify-content: center;
	}
	/* don't want img to take up more space than the 32%, so it's alloted 0 */
	/* other elements have 1 and 2 flex to take up the space instead */
	.step-img {
		flex: 0 32%;
		margin-right: 0;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.step-text {
		flex: 100%;
	}
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
	.hero-form button {
		width: 100%;
	}
	.section-title {
		width: 95%;
	}
	.intro p {
		width: 100%;
	}
	.trainer {
		flex: 0 100%;
	}
	.contact-info {
		text-align: center;
	}
	.contact-info > * {
		flex: 0 100%;
	}
	.contact-form {
		order: 3;
	}
}